# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# Fallback owner for everything in the repository
*                       @a2aproject/a2a-tsc @a2aproject/tech-writing @a2aproject/google-a2a-eng

# Core Specification and Governance (Exclusive TSC ownership, placed at bottom for final override)
adrs/                   @a2aproject/a2a-tsc
specification/          @a2aproject/a2a-tsc
docs/specification.md   @a2aproject/a2a-tsc
GOVERNANCE.md           @a2aproject/a2a-tsc
.gitvote.yml            @a2aproject/a2a-tsc
LICENSE                 @a2aproject/a2a-tsc
.github/CODEOWNERS      @a2aproject/a2a-tsc
